<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<head th:replace="/layout :: head"></head>
<a th:href="@{/products}">Back To List</a>
<body>
<h1>Form create</h1>
<form id="form" th:object="${p}" method="post">
    <div>
        <label>Name</label>
        <input type="text" th:field="*{name}"/>
        <p th:if="${#fields.hasErrors('name')}" th:errors="${p.name}">Name Error</p>
    </div>
    <div>
        <label>Price</label>
        <input type="text" th:field="*{price}"/>
    </div>
    <div>
        <label>Category</label>
            <select th:field="*{category}">
                <th:block th:each="c:${categoryList}">
                    <option th:value="${c.id}" th:text="${c.name}"></option>
                </th:block>
            </select>
    </div>
    <td></td>
    <button type="submit">Create</button>
</form>
</body>
<footer th:replace="/layout :: footer"></footer>
</html>